# Python Virtual Env
venv/
logs/

# Python build distribution
dist/
*.egg-info/
build/

# Python Cache
src/metadata_inspector/__pycache__
src/metadata_inspector/tests/__pycache__
__pycache__

# Coverage reports
.coverage
coverage.xml
report.xml
